#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(var(--surface-rgb), 0.5);

  #container {
    width: min(500px, 50%);
    padding: 20px;

    background-color: var(--container-high);
    border: var(--border-width) solid var(--border-color);
    border-radius: 8px;

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      margin-top: 0;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    ul {
      margin-top: 10px;
      margin-bottom: 0;

      & > ::marker {
        content: "âŒ ";
      }
    }
  }
}