.spriteLibraryDialog {
  display: flex;
  flex-direction: column;

  position: relative;
  
  max-width: unset !important;
  width: 85%;
  height: 85%;

  .dialogTitle {
    margin-top: 10px;
    margin-left: 20px;
  }

  #spritesLibrary {
    position: relative;

    display: flex;
    gap: 20px;
  
    height: 100%;
    width: 100%;

    overflow: hidden;
    
    #librarySprites {
      flex: 0.7 1;

      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 20px;
  
      overflow: auto scroll;
  
      margin: 10px 0;
      padding: 10px;
      padding-bottom: 0;
  
      & > * {
        width: 150px;
        height: 150px;
      }
    }

    #spritePreview {
      flex: 0.3 1;

      display: flex;
      justify-content: center;

      padding: 20px;

      background-color: var(--container-low);

      border: var(--border-color) solid var(--border-width);
      border-radius: 16px;

      #noSpriteSelected {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        box-sizing: border-box;

        text-align: center;
        font-size: 1.5em;
      }

      #image {
        height: 40%;
        max-width: 100%;
        aspect-ratio: 1;

        image-rendering: pixelated;
        object-fit: contain;

        margin-bottom: 20px;
      }

      #spriteInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 20px;

        & > div {
          display: flex;

          & > span:first-child {
            font-weight: bold;
          }

          & > span:last-child {
            margin-left: auto;
            font-style: italic;
          }
        }
      }
    }
  }
  
  #actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;

    #uploadSpriteContainer {
      #uploadSpriteLabel {
        font-size: 1.5em;
      }
    }

    #dialogActions {
      display: flex;
      gap: 15px;

      & > button {
        font-size: 1.25em;
      }
    }
  }
}