.expanded {
  flex: 1 !important;
}

#stage {
  display: inline-block;
  overflow: hidden;

  #controlBar {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 10px;

    input {
      width: 4em;
      text-align: center;
    }

    #fullscreenToggle {
      margin-left: auto;
    }
  }

  #stageCanvas {
    margin-right: -10000px; // Allow 100% width of parent ignore this element
    background-color: white;
  
    border: var(--border-width) solid var(--primary-dim);
    border-radius: 16px;
  }
}