#codeEditorContainer {
  position: relative;
  height: 100%;

  margin-left: -5px;

  #gameObjectPreview {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 20px;

    width: 50px;
    opacity: 0.5;

    pointer-events: none;
  }
}

.error {
  --highlight-color: rgba(var(--red-rgb), 0.8);
  
  background: linear-gradient(to bottom, var(--highlight-color) 0%, var(--highlight-color) 100%);
  background-size: 100% 20%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.token-identifiers {
  background-color: rgba(255, 0, 255, 0.1);
}

.token-punctuators {
  background-color: rgba(255, 0, 0, 0.1);
}

.token-keywords {
  background-color: rgba(0, 0, 255, 0.1);
}

.token-brackets {
  background-color: rgba(0, 255, 0, 0.1);
}

.token-literals {
  background-color: rgba(0, 255, 255, 0.1);
}

.token-others {
  background-color: rgba(255, 255, 0, 0.1);
}