#codeEditorContainer {
  position: relative;
  height: 100%;

  margin-left: -5px;

  #gameObjectPreview {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 20px;

    max-width: 50px;
    max-height: 100px;

    opacity: 0.5;

    image-rendering: pixelated;
    pointer-events: none;
  }
}

.token-identifiers {
  background-color: rgba(255, 0, 255, 0.1);
}

.token-punctuators {
  background-color: rgba(255, 0, 0, 0.1);
}

.token-operators {
  background-color: rgba(128, 0, 128, 0.1);
}

.token-keywords {
  background-color: rgba(0, 0, 255, 0.1);
}

.token-brackets {
  background-color: rgba(0, 255, 0, 0.1);
}

.token-literals {
  background-color: rgba(0, 255, 255, 0.1);
}

.token-others {
  background-color: rgba(255, 255, 0, 0.1);
}