.running {
  color: var(--green);
}

.stopped {
  color: var(--red);
}

#mainSplit {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 20px;

  #documentationContainer {
    flex: 0.5;
    margin-right: 20px;

    background-color: var(--container-low);
    border: var(--border-width) solid var(--border-color);
    border-radius: 16px;

    #documentationSpacer {
      margin: 20px;
    }

    &:not(.hidden) {
      animation: expandDocumentation 0.2s;
    }

    &.hidden {
      display: none;
      animation: collapseDocumentation 0.2s;

      & * {
        white-space: pre;
      }
    }
  }

  #editorsTabView {
    flex: 1;

    #codeEditorContainer {
      position: relative;

      width: 100%;
      height: 100%;

      #gameObjectPreview {
        position: absolute;
        top: 0;
        right: 10px;
        margin-right: 20px;

        width: 50px;
        opacity: 0.5;

        pointer-events: none;
      }
    }
  }

  #rightSplit {
    flex: 0.5;
    transition: flex 0.2s;

    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-left: 20px;
  }
}

@keyframes expandDocumentation {
  from {
    flex: 0;
    overflow: hidden;
    margin: 0;
  }

  to { 
    display: block;
  }
}

@keyframes collapseDocumentation {
  from {
    display: block;
  }

  to {
    flex: 0;
    overflow: hidden;
    margin: 0;
  }
}