:root {
  --surface: #191f19;
  --surface-rgb: 25, 31, 25;
  --on-surface: #c7c7c7;
  
  --container-high: #1f2721;
  --container-low: #1c2421;
  --on-container: #c7c7c7;

  --primary: #b4d8bb;
  --primary-rgb: 201, 234, 207;
  --on-primary: #21222a;

  --primary-dim: #738b78;
  --primary-very-dim: #4e5a51;

  --green: #76e076;

  --red: #e96666;
  --red-rgb: 233, 102, 102;
  --red-dim: #854242;
  --on-red: #21222a;

  --border-color: #25302e;
  --border-width: 3px;

  --navbar-height: 75px;
  --font-family: "Signika", sans-serif;
}

* {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container-high);
    border: var(--border-width) solid var(--border-color);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-dim);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  
  color: var(--on-surface);
  background-color: var(--surface);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--primary-dim);
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button, .button:not(.monaco-editor .button) {  
  padding: 10px;

  cursor: pointer;
  font-family: var(--font-family);

  border: var(--border-width) solid var(--border-color);
  border-radius: 8px;

  color: var(--on-container);
  background-color: var(--container-high);

  transition: background-color 0.2s;

  &:disabled {
    background-color: var(--container-low);
    border-color: var(--container-low);
  }

  &:not(.primary):not(.danger):not(:disabled):hover {
    background-color: var(--container-low);
  }

  &.primary {
    color: var(--on-primary);
    background-color: var(--primary);
    border-color: var(--primary);

    transition: border-color 0.2s;

    &:disabled {
      background-color: var(--primary-dim);
      border-color: var(--primary-dim);
    }

    &:not(:disabled):hover {
      border-color: var(--primary-dim);
    }
  }

  &.danger {
    color: var(--on-red);
    background-color: var(--red);
    border-color: var(--red);

    transition: border-color 0.2s;

    &:disabled {
      background-color: var(--red-dim);
      border-color: var(--red-dim);
    }

    &:not(:disabled):hover {
      border-color: var(--red-dim);
    }
  }

  &:has(.icon) {
    display: flex;
    align-items: center;

    padding: 10px 20px;
  }

  .icon {
    margin-right: 10px;
  }
}

input, .input {
  padding: 10px;

  border: var(--border-width) solid var(--border-color);
  border-radius: 8px;

  color: var(--on-container);
  background-color: var(--container-high);

  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: var(--container-low);
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
  }

  &:disabled {
    background-color: var(--container-low);
    border-color: var(--container-high);
  }

  &[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

code {
  --font-family: "M PLUS Code Latin", monospace;
  font-family: var(--font-family);
}

/*
* {
  outline: 1px solid red;
}
*/

.fullscreen {
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
}

.no-scroll {
  overflow: hidden;
}

.primary {
  color: var(--on-primary);
  background-color: var(--primary);
}

/* https://css-loaders.com/square-circle/ */
.loader {
  height: 35px;
  aspect-ratio: 1;
  border: 3px solid var(--primary);
  animation: l4 2s infinite;
  
  @keyframes l4 {
    0%  {aspect-ratio:1;border-radius:50px}
    25% {aspect-ratio:2;border-radius:50px} 
    50% {aspect-ratio:2;border-radius:0}  
    75% {aspect-ratio:1;border-radius:0} 
    100%{aspect-ratio:1;border-radius:50px}
  }
}