#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #logo {
    position: relative;
    overflow: hidden;

    mask-image: radial-gradient(circle, white 90%, transparent 100%);

    & > img {
      width: 50vh;
      height: 50vh;
    
      margin: -7.5vh 0;
    }

    #logoMask {
      position: absolute;

      width: 25vh;
      height: 25vh;
      transform: translate(-50%, -50%);

      mask-image: radial-gradient(circle, #ffffffaa 0%, #ffffff00 50%);
      backdrop-filter: brightness(1.5);
    }
  }

  #sprout {
    margin-bottom: 25px;
    font-size: 5em;
  }

  #slogan {
    margin-top: 0;
    margin-bottom: 75px;

    color: var(--primary-dim);
    font-size: 2rem;
    font-weight: 700;
  }

  #cta > button {
    font-size: 1.1em;
    font-weight: bold;
  }
}

#features {
  margin: 0 3em;

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 50px 0;

    &:nth-child(2n) {
      align-items: flex-end;

      & > h3 {
        transform: rotate(5deg);
      }

      & > p {
        text-align: right;
      }
    }

    span {
      font-size: 2rem;
    }

    & > h3 {
      width: max-content;

      margin-top: 10px;
      margin-bottom: 30px;
      padding: 10px 20px;

      font-size: 2em;

      color: var(--on-primary);
      background-color: var(--primary);
      border-radius: 20px;

      transform: rotate(-5deg);
    }

    & > p {
      margin: 0;
      font-size: 1.5em;
      max-width: 50vw;
    }
  }
}