#main {
  overflow: hidden auto;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #logo {
    position: relative;
    overflow: hidden;

    mask-image: radial-gradient(circle, white 90%, transparent 100%);

    & > img {
      width: 50vh;
      height: 50vh;
    
      margin: -7.5vh 0;
    }

    #logoMask {
      position: absolute;

      width: 25vh;
      height: 25vh;
      transform: translate(-50%, -50%);

      mask-image: radial-gradient(circle, #ffffffaa 0%, #ffffff00 50%);
      backdrop-filter: brightness(1.5);
    }
  }

  #sprout {
    margin-bottom: 25px;
    font-size: 5em;
  }

  #slogan {
    margin-top: 0;
    margin-bottom: 75px;

    color: var(--primary-dim);
    font-size: 2rem;
    font-weight: 700;
  }

  #cta > button {
    font-size: 1.1em;
    font-weight: bold;
  }
}

#features {
  $title-rotation: 4deg;
  $image-rotation: 2deg;
  $image-translation-x: 150px;

  padding: 0 3em;
  margin-bottom: 5em;

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 200px;

    &:nth-child(2n) {
      align-items: flex-end;

      & > h3 {
        transform: rotate($title-rotation);
      }

      & > p {
        text-align: right;
      }

      .imageContainer {
        transform: translateX($image-translation-x);

        .backgroundImage {
          transform: rotate(-$image-rotation);
        }

        .highlightContainer {
          right: 0;

          .highlightImage {
            transform-origin: top left;
          }
        }
      }
    }

    span {
      font-size: 2rem;
    }

    & > h3 {
      width: max-content;

      margin-top: 10px;
      margin-bottom: 30px;
      padding: 10px 20px;

      font-size: 2em;

      color: var(--on-primary);
      background-color: var(--primary);
      border-radius: 20px;

      transform: rotate(-$title-rotation);
    }

    & > p {
      margin: 0;
      font-size: 1.5em;
      max-width: 50vw;
    }

    .imageContainer {
      --background-width: min(80vw, 1250px);
      --background-height: calc(var(--background-width) * 0.6);

      position: relative;

      width: min-content;
      margin-top: 80px;

      transform: translateX(-$image-translation-x);

      .backgroundImage {
        width: var(--background-width);

        border-radius: 60px;
        transform: rotate($image-rotation);
      }

      .highlightContainer {
        position: absolute;
        top: 0;
        left: 0;

        .highlightImage {
          transform-origin: top right;
        }
      }
    }
  }
}