#main {
  margin: 2em;

  .projectSection {
    .projectsGrid {
      $project-card-width: max(17vw, 200px);

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($project-card-width, 1fr));
      gap: 20px;

      a:has(.projectCard) {
        text-decoration: none;
      }

      .projectCard {
        $border-radius: 16px;
        $padding: 10px;

        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        width: 100%;
        padding: $padding;

        border: var(--border-color) solid var(--border-width);
        border-radius: $border-radius;

        color: var(--on-container);
        background-color: var(--container-low);
        transition: background-color 0.2s;

        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: var(--container-high);
        }

        .projectThumbnail {
          width: 100%;
          aspect-ratio: 16/9;

          object-fit: cover;
          border-radius: calc(#{$border-radius} - #{$padding});
        }

        .projectTitle {
          padding: 5px;

          margin-top: 10px;
          margin-bottom: 0;
        }

        .projectDescription {
          padding: 5px;

          margin-top: 0;
          margin-bottom: 0;
        }

        &.unknownProject {
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 30px 0;
      
          border-style: dashed;
          background: none;
      
          transition: border-color 0.2s;
      
          &:hover {
            border-color: var(--primary-dim);
          }

          #icon {
            font-size: 3rem;
          }
      
          & > span {
            margin-top: 10px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}