#navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);

  box-sizing: border-box;
  padding: 0 20px;

  border-bottom: var(--border-width) solid var(--border-color);
  user-select: none;

  a {
    text-decoration: none;
    color: var(--on-surface);
  }

  #logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: none;
    border: none;
    
    height: 75%;
    margin-right: 50px;
    padding: 0;

    #logoIcon {
      height: 100%;
      margin-right: 5px;
    }

    #logo {
      font-size: 2rem;
    }
  }

  .navItemContainer {
    position: relative;
  
    display: flex;
    align-items: center;
    height: 100%;

    &.selected .navItem, .navItem:hover {
      color: var(--on-primary);
      background: var(--primary);

      transition: color 0.2s, background 0.2s;
    }

    .navItem {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      padding: 0 20px;

      font-size: 1.25rem;
    }

    &.selected .dropdownContainer {
      z-index: 999;
      visibility: visible;

      max-height: 20vh;

      animation: expand 0.2s;
    }

    &:not(.selected) .dropdownContainer {
      visibility: hidden;
      // animation: collapse 0.2s;
    }

    .dropdownContainer {  
      z-index: 998;

      position: absolute;
      top: 100%;
      left: 0;
  
      display: flex;
      flex-direction: column;
  
      min-width: calc(150% - var(--border-width) * 2);
      width: max-content;
      max-height: 0;
      overflow: hidden;
  
      border: var(--border-width) solid var(--primary);
      border-radius: 0 0 8px 8px;
    
      color: var(--on-container);
      background-color: var(--surface);
  
      .dropdownItem {
        padding: 10px 20px;
  
        &:hover {
          color: var(--on-primary);
          background: var(--primary);
  
          transition: color 0.2s, background 0.2s;
        }
      }
    }
  }

  .spacer {
    margin-left: auto;
  }
}

@keyframes expand {
  from {
    visibility: visible;
    max-height: 0;
  }
  to {
    max-height: 20vh;
  }
}

@keyframes collapse {
  from {
    visibility: visible;
    max-height: 20vh;
  }
  to {
    max-height: 0;
  }
}