#navbar {
  display: flex;
  align-items: center;

  width: 100vw;
  height: var(--navbar-height);

  box-sizing: border-box;
  padding: 0 20px;

  border-bottom: var(--border-width) solid var(--border-color);
  user-select: none;

  a {
    text-decoration: none;
    color: var(--on-surface);
  }

  #logoIcon {
    height: 75%;
    margin-right: 5px;
  }

  #logo {
    margin-right: 50px;
    font-size: 2rem;
  }

  .navItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 20px;

    font-size: 1.25rem;

    &:hover {
      color: var(--on-primary);
      background: var(--primary);

      transition: color 0.2s, background 0.2s;
    }
  }

  .spacer {
    margin-left: auto;
  }
}