#gameObjectProperties {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  gap: 10px;

  & > * {
    grid-column: span 2;
  }

  :nth-child(1), :nth-child(6) {
    grid-column: span 4;
  }

  :nth-child(8), :nth-child(10) {
    grid-column: span 1;
  }

  :nth-child(7), :nth-child(9) {
    grid-column: span 3;
  }

  #linkedScaling {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-dim);
  }

  #resetScale {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-dim);
  }
}

#gameObjectList {
  flex: 1;
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;

  padding-top: 10px;
  overflow: hidden auto;

  & > * {
    width: 100px;
    height: 100px;
  }

  #addGameObject {
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: dashed;
    background: none;

    transition: border-color 0.2s;

    &:hover {
      border-color: var(--primary-dim);
    }

    & > span {
      font-size: 3rem;
    }
  }
}