.tabView {
  display: flex;
  flex-direction: column;

  #tabs {
    display: flex;
    flex-direction: row;

    padding: 0 20px;
    user-select: none;

    .tab {
      display: flex;
      align-items: center;

      padding: 10px 30px;

      font-size: 1.25em;
      cursor: pointer;

      border: var(--border-width) solid var(--border-color);
      border-bottom: 0;
      border-radius: 16px 16px 0 0;

      background-color: var(--container-low);

      &:not(.activeTab):hover {
        background-color: var(--container-high);
      }

      &.activeTab {
        z-index: 1;

        border-color: var(--primary-dim);
        margin-bottom: calc(-1 * var(--border-width));
      }
    }

    .actionButton {
      margin: 0 20px 10px 0;
    }
  }

  #leaf {
    flex: 1;
    padding: 20px;

    color: var(--on-container);
    background-color: var(--container-low);

    border: var(--border-width) solid var(--primary-dim);
    border-radius: 16px;
  }
}