#spritesTab {
  position: relative;

  width: 100%;
  height: 100%;

  #gameObjectSprites {
    height: 100%;
    width: 100%;

    $sprites-width: 125px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($sprites-width, 1fr));
    grid-gap: 25px;

    height: 100%;
    min-height: fit-content;
    overflow: auto scroll;

    & > * {
      height: $sprites-width;
      width: $sprites-width;
    }
  }

  #addSpriteButton {
    position: absolute;
    bottom: 10px;
    right: 30px;

    display: flex;
    align-items: center;

    padding: 10px 20px;

    font-size: 1.5em;
    margin-left: 10px;

    #buttonIcon {
      margin-right: 10px;
    }
  }
}